body {
      position: relative; 

    /*max-width: none;
    -webkit-overflow-scrolling: touch !important;*/

  }

.jumbotron {
    background-color: #00BCD4; 
    color: #ffffff;
    padding:100px 25px;
}
/*.heading{
    background-color: #00BCD4;
    padding: 60px 50px;
    position: relative;
     
}*/
.navbar{
    margin-bottom: 0;
    background-color: #424242 !important;
    z-index: 9999;
    border: 0;
    font-size: 16px;
    line-height: 1.42857143;
    letter-spacing: 2px;
    border-radius: 0;
}

.navbar-nav > li  >.dropdown-menu { 
    left: 0px;
    background-color: #757575 !important;
    font-size: 16px;
    padding-top: 0px;
    
    
     }
.navbar-nav > li  >.dropdown-menu a{
    white-space: normal;
    border-bottom: 2px solid #fff;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size:17px;
}
.navbar-nav > li  >.dropdown-menu a:hover{
    white-space: normal;
    border-bottom: 3px solid #00BCD4;
    font-size: 18px;
}

.half/*dropdown elements separator*/
    {
    margin-top: 0;
    margin-bottom: 10px;
    width: 85%;
}
#mynavbar{
    overflow-y:scroll !important;
    max-height:100px !important;
}
.navbar-brand, .navbar li a {
    color: #fff !important;
    height:80px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-brand{
    font-size: 25px;
}
/*.navbar-nav li a:hover{
   border-bottom: 3px solid #fff;
}*/
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #00BCD4 !important;
    background-color: #616161 !important;
   
}
.navbar-nav li a:focus {
    background-color:#616161 !important;

}
.navbar-default .navbar-toggle {
    min-height: 50px;
    border-color: transparent;
    color: #fff  !important;
}
.container {
     width: 100%;
  }
 
.btn-primary{
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
/*
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #69899f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #d7e2e9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #e5dbdb;
  background-color: #425766;
}
*/
.centerdiv{
    background-color: #ffffff;
    padding: 60px 50px;
}
.col-first{
    text-align:center;
    margin: 25px 0px;
}
 
/* end navbar*?
/*panel*/
  .panel-facility{
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    
    margin-top: -60px;
}
.panel-facility>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-facility>.panel-heading p{
    text-decoration: none;
    color: #ffff;/*#666;*/
    font-weight: bold;
    font-size: 30px;
}
.panel-facility input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 50px;

    border: 1px solid #ddd;
    font-size: 16px;
    
}


.list-property{
  padding: 0 30px;
}
.list-property a{
    color: #fff;
    background-color: #424242;
    padding: 14px 14px;
    
    border: 1px solid #ddd;
    font-size: 16px;
    
}
.list-property a:hover {
    background-color:#616161;
    color: #00BCD4;

}
.list-property a:focus{
    background-color:#616161;
    color: #00BCD4

}
/*end*/

/*login&register*/
.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    margin-top: -60px;
}
.panel-login>.panel-heading {
    
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #808080;
    font-weight: bold;
    font-size: 18px;
    
}
.panel-login>.panel-heading a.active{
    color: #006400;
    font-size: 20px;
}

.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 50px;

    border: 1px solid #ddd;
    font-size: 16px;
    
}
.forgot a{
    margin-top: 10px;
    margin-bottom: 100px;
}

/*buttons and forgot password*/
.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.btn-warning{
    width:100%;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}


/*end login&register*/ 
  
  @media screen and (min-width: 768px) 
  {
    .navbar-nav > li  >.dropdown-menu 
    { 
    text-align: center;
     }
    .centerdiv
    {
        text-align:center;
    }
    .col-sm-4 
    {
        text-align: center;
        margin: 25px 0;
    }
    .list-property{
       padding: 0 25px;
    }
    .panel-facility
    {
      margin-top: -80px;
    }
    .panel-login
    {
      margin-top: -80px;
    }

}

